.header{
    font-size: 64pt;
    font-family: "Rounded Mplus 1c";
    color: #FFFFFF;
}
.headersub{
    font-size: 32pt;
    font-family: "Rounded Mplus 1c";
    color: #FFFFFF;
}
.tab-font{
    font-size: 24pt;
    font-family: "Rounded Mplus 1c";
    color: #FFFFFF;
    display: inline-block;
    width: 200px;
    text-align: center;
}
.headA{
    font-size: 24pt;
    font-family: "Rounded Mplus 1c";
    color: #A8A000;
}